@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//Almennt utlit
html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar
  font-family: $font-main;
  font-size: 16px;
}
h1,h2,h3{
  font-family: $font-title;
}
body p {
 // font-family: $font-main;
}
.container{ //div tag yfir allt nema header
  width: 100%;
  display: flex;
  justify-content: center;
}
.main{ //div til að setja content max-width
  width: 100%;
  max-width: $max-width;
}
//Almennt utlit endar

//fyrirlestra section byrjar
.fyrirlestrar{ //div tag til að stýra utlit fyrirlestra div-tagga
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $gutter*2;
  padding-left: $gutter;
  padding-right: $gutter;
  @media (min-width: 800px){
    grid-template-columns: 1fr 1fr;
    grid-gap: $gutter;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0px;
    padding-right: 0px;
  }
  &__img{
    width: 100%;
  }
  &__takkar{ //divtagg yfir css html og javascript buttons
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: $gutter*2;
    padding-left: $gutter;
    padding-right: $gutter;
    @media (min-width: 800px) {
      justify-content: space-around;
    }
    @media (min-width: 1500px) {
      justify-content: center;
    }
  }
  &__btn{ // class fyrir alla takka
    border-radius: 20px;
    background-color: $whitegrey;
    //border: 5px;
    padding: $gutter/2;
    
    h3{
      font-size: $grunnleturstaerd*2;
      font-weight: bold;
    }
  }
  &__html{
    transition: 0.3s;
    &:hover{
      background-color: $grey;
      cursor: pointer;
    }
  }
  &__javascript{
    transition: 0.3s;
    &:hover{
      background-color: $grey;
      cursor: pointer;
    }
  }
  &__css{ // css takki
    transition: 0.3s;
    @media (min-width: 1500px) {
      margin-left: $gutter*2;
      margin-right: $gutter*2;
    }
    &:hover{
      background-color: $grey;
      cursor: pointer;
    }
  }
  &__anmynd{ // fyrirlestrar sem hafa ekki mynd
    display: flex;
    flex-direction: column;
  }
}
.quote {
  background-color: $whitegrey;
  justify-content: space-between;
  padding-bottom: $gutter/2;
  p{ // p-tögg í hvert einasta fyrirlestur
    font-size: 21px;
    padding-top: $gutter;
    padding-left: $gutter;
  }
}

.fyrirlestur{ // hvert einasti fyrirlestur
  //display: run-in;
  background-color: $whitegrey;
  padding-bottom: $gutter/2;
  transition: 0.3s;
  justify-content: space-between;
  p{ // p-tögg í hvert einasta fyrirlestur
    font-size: 21px;
    padding-top: $gutter;
    padding-left: $gutter;
  }
  &__info{
    display: grid;
    margin-top: auto;
    grid-template-columns: 87% 13%;
  }

  &__check{
    display: flex;
    //justify-content: flex-end;
    margin-right: auto;
    padding-top: 30px;
  }
  &__check-p {
    color: $darkgreen;
  }
  &:hover{
    cursor: pointer;
    background-color: $grey;
  }
  h2{ // h2-tagg í hvert fyrirlestur
    font-family: $font-title;
    font-size: $grunnleturstaerd*2;
    padding-left: $gutter;
  }
}

//fyrirlestra section endar

//div tögg sem ekki eru í fyrirlestra div

.btnContainer{ // container utan um takka-divið
  width: 100%;
  max-width: $max-width;
  margin-bottom: $gutter*2;
}

.btn__active {
  background-color: $green;
  transition: 0.3s;
  &:hover{
    background-color: $darkgreen;
  }
}

.header{ //hausinn
  position: relative;
  text-align: center;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  img { // mynd á haus
    opacity: 0.6;
    filter: alpha(opacity=50);
    height: auto;
    width: 800px;
    @media (min-width: 800px) {
      height: auto;
      width: 100vw;
      overflow: visible;
    }
  }
  &__content{ //texti í haus
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 15vh;
    transform: translate(-50%, -50%);
    font-size: 21px;
  }
  h1{ //heading í haus
    font-size: $grunnleturstaerd*3;
  }
  &__content > p{ // p tagg í haus
    font-size: $grunnleturstaerd;
  }
}
header{ //header elementið sjálft
  height: 300px;
}

// index.html lokið

//fyrirlestur.html
.lecture{
  padding-left: $gutter;
  padding-right: $gutter;
  margin-top: $gutter*2;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 800px;
  row-gap: $gutter*2;
  &__last{
    text-align: center;
    line-height: 2;
    margin: $gutter*2;
    a{
      text-decoration: none;
      color: black;
    }
  }
  &__last-pk:hover{
    cursor: default;
  }
  &__last-pt:hover{
    cursor: pointer;
  }
  ul{
    font-size: 21px;
  }
  iframe{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__iframe{
    overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
  }
  &__div{
    width: 100%;
  }
  img{
    max-width: 100%;
  }
  p{
    font-size: 24px;
  }
  h1{
    font-size: 32px;
  }
}
.klarad{
  color: $green;
}
.klarad:before {
  content: '✓ ';
}

//initialize display lecture
.html, .css, .javascript {
  display: none;
}


